@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@keyframes heart-anime{
0% { transform: scale(1); }
60% { transform: scale(1); }
70% { transform: scale(1.3); }
80% { transform: scale(1); }
90% { transform: scale(1.3); }
100% { transform: scale(1); }
}

.btn-default {
    color: #333;
    background-color: silver;
    border-color: #ccc;
    &:hover {
      background-color: gray;
    }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #F4F5F7;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: none;
  outline: none;
}

.center {
  text-align: center;
  margin: 0 -15px 0 -15px;
  padding-right: 0;
  position: fixed;
  top: 50px;
  h1 {
    margin-top: 30px;
  }
}

.alert{
  position: relative;
  z-index: 1;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

// #icon {
  // margin-right: 15px;
// }

#logo {
  // margin-right: 10px;
  font-size: 1.2em;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 50px;
    a{
      color: #333333;
    }
  }
  section {
    padding: 10px 0 0 50px;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  section.micropost_form {
    span.picture {
      input {
        display: none;
      }
    }
    #modal-button{
      display: none;
    }
    .modal{
      overflow: hidden;
    }
    .modal-header-wrapper-1{
      margin-top: 10px;
      display: flex;
      #filter{
        display: inline-block;
        #thumbnail{
          height: 300px;
          width: 300px;
          object-fit: cover;
        }
      }
      .modal-header-wrapper-2{
        flex: 1;
        margin-left: 15px;
        textarea {
          height: 200px;
        }
        input{
          outline: none;
        }
      }
    }
    .modal-body{
      overflow: scroll;
      display: flex;
      .modal-img{
        margin: 0px 12px 0px -3px;
        display: inline-block;
        .filter-wrapper{
          border: 3px solid white;
          cursor: pointer;
          .filter-img{
            height: 200px;
            width: 200px;
            object-fit: cover;
          }
        }
        p{
          margin-top: 5px;
          text-align: center;
        }
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 30px;
  p{
    font-weight: bold;
  }
}

.user_delete{
  margin-top: 30px;
  p{
    font-weight: bold;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
   display: inline;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox-inline {
  label {
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.clear {
  clear: left;
}

.links{
  margin: 15px 0;
  line-height: 25px;
}

#link_or{
  text-align: center;
  color: gray;
}

.facebook{
  color: #fff;
  background-color: #3b5998;
  width: 100%;
  &:hover{
    color: #fff;
  }
  a{
    color: #fff;
  }
}

.new-action{
  margin-top: 25px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    a{
      color: #333333;
    }
  }
}

.search_wrapper{
  text-align: center;
  .search_field{
    background-image: url(search_icon.png);
    background-repeat  : no-repeat;
    background-size    : auto 80%;
    background-position: 5px center;
    width: 250px;
    padding-left: 25px;
    outline: none;
  }
}

/* microposts */

.microposts {
  list-style: none;
  li[id^="micropost-"] {
    padding-top: 10px;
    background-color: white;
    margin: 50px 0;
    border: 1px solid #bbb;
    width: 602px;
    .micropost-header{
      height: 60px;
      .gravatar {
        float: left;
        margin-left: 20px;
        border-radius: 50%;
      }
      .user {
        display: inline-block;
        margin-top: 8px;
        a{
          font-weight: bolder;
          color: #333333;
        }
      }
      .address {
        display: inline-block;
        a{
          color: #333333;
        }
      }
    }
  }
  .content{
    display: block;
    // margin-top: 20px;
    margin-left: 20px;
  }
  .picture {
    margin-top: 10px;
  }
  .like-comment{
    padding-top: 15px;
    padding-left: 20px;
    .like_icon{
      display: block;
      float: left;
      .fa-heart-o{
        color: $gray-light;
      }
      .fa-heart {
        color: #FF5252;
      }
      .heart-anime {
        color: #FF5252;
        animation: heart-anime 3s reverse;
      }
    }
    .likes_count{
      display: block;
      font-weight: bolder;
      float: left;
      margin-top: 4px;
      margin-left: 5px;
    }
    .comment_icon{
      display: block;
      float: left;
      font-weight: bolder;
      margin-left: 30px;
      color: $gray-light;
      margin-top: -3px;
    }
    .comments_count{
      display: block;
      float: left;
      font-weight: bolder;
      margin-top: 4px;
      margin-left: 5px;
    }
  }
  .comments_disp{
    list-style: none;
    margin-top: 35px;
    padding-left: 20px;
    li{
      padding: 3px 0;
      span{
        font-weight: bolder;
      }
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-top: 5px;
    margin-left: 20px;
  }
  #comment_content{
    margin-top: 5px;
    padding-left: 20px;
    border: 0;
    border-top: 1px solid $gray-medium-light;
  }
}

/* users/show */
.show-microposts{
  list-style: none;
  margin: 50px 0;
  li{
    display: inline-block;
    margin: 3px 1px;
  }
}

$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #eed3d7;
$ng_alert_color: #b94a48;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;

/* flash */
.alert-alert {
  background-color: $ng_alert_bg_color;
  border-color: $ng_alert_border_color;
  color: $ng_alert_color;
  text-align: left;
}
.alert-notice {
  background-color: $ok_alert_bg_color;
  border-color: $ok_alert_border_color;
  color: $ok_alert_color;
  text-align: left;
}
