<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
   <%= image_tag("カメラアイコン.png", alt: "カメラアイコン", width: "3%", id: "icon") %>
   <%= link_to "写真管理", '#', id: "logo" %>
   <nav>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "写真管理について",   '#' %></li>
       <li><%= link_to "ログイン", '#' %></li>
     </ul>
   </nav>
 </div>
</header>
